.root {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.controlAssignmentsTable {
    width: 100%;
}

.controlAssignmentsTable > thead {
    background: black;
    color: white;
}

.controlAssignmentsTable > tbody > tr:nth-child(even) {
    background: #f5f5f5;
}

.controlAssignmentsTable td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.controlAssignmentsTable .controlColumn {
    font-weight: bold;
    width: 200px;
}

.controlAssignmentsTable > tbody .controlColumn {
    color: darkred;
}

.controlAssignmentsTable > tbody .modifierColumn {
    color: darkblue;
    font-weight: bold;
    width: 200px;
}

.controlAssignmentsTable .commandColumn {
    font-family: "Saira Condensed", sans-serif;
}

.controlAssignmentsTable .modifiersColumn {
    width: 600px;
}

.modifiersTable {
    width: 100%;
}