<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <style>
        .container {
            height: 500px;
            width: 500px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN1"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN2"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN2"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_X"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_Y"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_Z"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_U"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_UR"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_R"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_DR"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_D"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_DL"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_L"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN_POV1_UL"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN1"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN2"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN3"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN4"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN5"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN6"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN7"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN8"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN9"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN10"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN11"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN12"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN13"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN14"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN15"></div>
    <div data-device="Thrustmaster T.16000M" data-ctrl="JOY_BTN16"></div>
</body>
</html>