.root {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
}

.table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table > tbody > tr:nth-child(even) {
    background: #f5f5f5;
}

.table > thead {
    background: black;
    color: white;
}


.controlColumn {
    font-weight: bold;
    width: 200px;
}

.table > tbody .controlColumn {
    color: darkred;
}

.commandColumn {
    font-family: "Saira Condensed", sans-serif;
}

.modifiersColumn {
    width: 600px;
}