.root {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.importer {
    margin-bottom: 8px;
}

.deviceAssignmentsEditor {
    margin-bottom: 8px;
}

.templateFilePicker {
    margin-bottom: 8px;
}

.exportConfigurator {

}

.templateRenderer {
    height: 1200px;
}